<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.work.bluetooth">

    <application>
        <activity android:name=".BlueActivity"/>

        <provider
            android:authorities=".BlueProvider"
            android:name=".BlueProvider"/>
    </application>
</manifest>